<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="false"
        android:label="YCTA Taxi Association"
        android:icon="@drawable/ycta_logo"
        android:roundIcon="@drawable/ycta_logo"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".TownshipMembersActivity" android:exported="false" />
        <activity android:name=".MoocVideoPlayerActivity" android:exported="false" />
        <activity android:name=".MoocCourseDetailActivity" android:exported="false" />
        <activity android:name=".MoocActivity" android:exported="false" />
        <activity android:name=".EpubReaderActivity" android:exported="false" />
        <activity android:name=".PdfReaderActivity" android:exported="false" />
        <activity android:name=".BookDetailActivity" android:exported="false" />
        <activity android:name=".LibraryActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
